<% @suppliers.each do |supplier| %>

  <article class="supplier">
    <div class="summary">
      <div class="row">
        <div class="col-md-2">
          <%= link_to(supplier.abn, supplier_path(supplier)) %>
        </div>
        <div class="col-md-5">
          <%= format_name(supplier) %>
        </div>
        <div class="col-md-3">
          <% if supplier.abn_status=="Active" %>
            <span class="omib-green">
              <%=supplier.abn_status %>
            </span>
            <% else %>
              <span class="text-danger">
                <%=supplier.abn_status %>
              </span>
              <% end %>

                <!--          <%= supplier.abn_status %>  -->
        </div>
        <div class="col-md-2">
          <%= supplier.screening_status.capitalize %>
        </div>

      </div>
  </article>
  <% end %>

    <section class="pt-5">
      <%= link_to 'Add My New Supplier' , :new_supplier, class: "btn btn-primary" %>
    </section>