
<div class="d-grid gap-3">
  <% @suppliers.each do |supplier| %>
      <div class="row class="border-success">
        <div class="col-md-2">
          <%= link_to(supplier.abn, supplier_path(supplier)) %>
        </div>
        <div class="col-md-5">
          <%= format_name(supplier) %>
        </div>
        <div class="col-md-3">
          <% if supplier.abn_status=="Active" %>
            <span class="omib-green">
              <%=supplier.abn_status %>
            </span>
            <% else %>
              <span class="text-danger">
                <%=supplier.abn_status %>
              </span>
        <% end %>
        </div>
        <div class="col-md-2">
          <%= supplier.screening_status.capitalize %>
        </div>
      </div>
  <% end %>
</div>

    <section class="row text-center pt-5">
      <div class="col">
        <%= link_to 'New' , :new_supplier, class: "btn btn-lg btn-primary btn-new" %>
      </div>
    </section>