<h1>
  <%= format_name(@supplier) %>
</h1>
<h3>ABN: <%= @supplier.abn %>
</h3>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <tr>
            <th>ABN Status</th>
            <td>
              <% if @supplier.abn_status=="Active" %>
                <span class="omib-green">
                  <%= @supplier.abn_status %>
                </span>
                <% else %>
                  <span class="text-danger">
                    <%= @supplier.abn_status %>
                  </span>
                  <% end %>
            </td>
          </tr>
          <tr>
            <th>Registration Start Date</th>
            <td class="number_right">
              <%= format_date(@supplier) %>
            </td>
          </tr>
          <tr>
            <th>Primary Contact</th>
            <td>
              <%= @supplier.primary_contact_name %>
            </td>
          </tr>
          <tr>
            <th>Primary Contact Phone</th>
            <td class="number_right">
              <%= @supplier.primary_phone_number %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</section>

<section class="container mt-1">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <%= link_to 'Edit' , edit_supplier_path(@supplier), class: 'btn btn-primary' %>
        <%= link_to pluralize(@supplier.reviews.size, "Review" ), supplier_reviews_path(@supplier),
          class: 'btn btn-info' %>
    </div>
    <div class="col-md-4">
      <%= link_to 'Delete' , supplier_path(@supplier), class: "btn btn-danger" , method: :delete, data:
        {confirm: 'Are you sure?' } %>
    </div>
</section>